a.prev:hover,a.next:hover { background-color:#5c5a58;}
.footerstress { border: solid #de945b;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#5c5a58;}
.vuzz-pricing-table>div { border-top:#5c5a58 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#5c5a58;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#5c5a58;}
.hometitlebg { background:#5c5a58; }
.colortitlebg { background:#5c5a58; }
.neutralbutton {	background:#5c5a58;}
.serviceicon { background-color:#5c5a58;}
.subtitle { border-bottom:#5c5a58 1px solid;}
.wrapaction { border-left: #5c5a58 3px solid;background:#fff;}
.actionbutton { background-color:#5c5a58;}
.stresstitle { border-bottom:#5c5a58 1px solid;}
.undermenuarea {	background: #5c5a58 url(../images/noise.png) repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #5c5a58;}
.simplebox {border-left: 1px solid #5c5a58;}
.simpleboxicon {color: #5c5a58;}
.colorme { color:#5c5a58;}
.buttonprice {background: #5c5a58;color:#fff;border:0px;}
a.expandAll {background: #5c5a58;}
.wrapactiondefault {border-left: #5c5a58 2px solid;}